In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("Cleaned_Data.csv")

In [10]:
df.iloc[(331366,2)]

'@leighsh Hi friend! It was good. I slept a lot of it and did some running around. Now homework  How was your day, stinky? (sewage comment)'

In [11]:
def top_tweets(row_list):
    for row in row_list:
        print(df.iloc[(row-1),2])

In [13]:
row_list_topic_0 = [433521,160062,441513,483104,331367]

In [14]:
top_tweets(row_list_topic_0)

@j0e_ hey I was at jaxx last night watching y'all, what was the last song you played called? I could hear
I want to buy this great album but unfortunately i dont hav enuff funds  its &quot;long time noisy&quot;
Restarting my laptop after over 40 days. I was gonna keep it on longer but 3 programs were nagging me to restart the computer so I had to
Its thundering &amp; lightning
@leighsh Hi friend! It was good. I slept a lot of it and did some running around. Now homework  How was your day, stinky? (sewage comment)

In [15]:
df.head()

,Date_Time,Username,Tweet
0,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he can't update his Facebook by ...
1,Mon Apr 06 22:19:53 PDT 2009,mattycus,@Kenichan I dived many times for the ball. Man...
2,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire
3,Mon Apr 06 22:19:57 PDT 2009,Karoli,"@nationwideclass no, it's not behaving at all...."
4,Mon Apr 06 22:20:00 PDT 2009,joy_wolf,@Kwesidei not the whole crew

In [16]:
df["Date_Time"].max()

'Wed May 27 07:27:38 PDT 2009'

In [17]:
df["Date_Time"].min()

'Fri Apr 17 20:30:31 PDT 2009'

In [18]:
type(df["Date_Time"].max())

str