In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Cleaned_Data.csv")

In [3]:
df.head()

,Date_Time,Username,Tweet
0,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he can't update his Facebook by ...
1,Mon Apr 06 22:19:53 PDT 2009,mattycus,@Kenichan I dived many times for the ball. Man...
2,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire
3,Mon Apr 06 22:19:57 PDT 2009,Karoli,"@nationwideclass no, it's not behaving at all...."
4,Mon Apr 06 22:20:00 PDT 2009,joy_wolf,@Kwesidei not the whole crew

In [4]:
import re

In [5]:
#Remove special characters & digits aside from @, #, apostrophes (for contractions) and spaces
df["Tweet"]=df.Tweet.apply(lambda x: re.sub("[^a-zA-Z:,@#'\s]+","",x))

In [6]:
df.head()

,Date_Time,Username,Tweet
0,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he can't update his Facebook by ...
1,Mon Apr 06 22:19:53 PDT 2009,mattycus,@Kenichan I dived many times for the ball Mana...
2,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire
3,Mon Apr 06 22:19:57 PDT 2009,Karoli,"@nationwideclass no, it's not behaving at all ..."
4,Mon Apr 06 22:20:00 PDT 2009,joy_wolf,@Kwesidei not the whole crew

In [7]:
df[-5:]

,Date_Time,Username,Tweet
1599994,Tue Jun 16 08:40:49 PDT 2009,AmandaMarie1028,Just woke up Having no school is the best feel...
1599995,Tue Jun 16 08:40:49 PDT 2009,TheWDBoards,TheWDBcom Very cool to hear old Walt intervie...
1599996,Tue Jun 16 08:40:49 PDT 2009,bpbabe,Are you ready for your MoJo Makeover Ask me fo...
1599997,Tue Jun 16 08:40:49 PDT 2009,tinydiamondz,Happy th Birthday to my boo of alll time Tupac...
1599998,Tue Jun 16 08:40:50 PDT 2009,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [8]:
# Numbers got removed

In [9]:
#REMOVE CAPS

In [10]:
df["Tweet"]=df.Tweet.apply(lambda x: re.sub(",","",x))

In [11]:
df.head()

,Date_Time,Username,Tweet
0,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he can't update his Facebook by ...
1,Mon Apr 06 22:19:53 PDT 2009,mattycus,@Kenichan I dived many times for the ball Mana...
2,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire
3,Mon Apr 06 22:19:57 PDT 2009,Karoli,@nationwideclass no it's not behaving at all i...
4,Mon Apr 06 22:20:00 PDT 2009,joy_wolf,@Kwesidei not the whole crew

In [12]:
df["Tweet"]=df["Tweet"].apply(lambda x: x.lower())

In [13]:
df.head()

,Date_Time,Username,Tweet
0,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he can't update his facebook by ...
1,Mon Apr 06 22:19:53 PDT 2009,mattycus,@kenichan i dived many times for the ball mana...
2,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire
3,Mon Apr 06 22:19:57 PDT 2009,Karoli,@nationwideclass no it's not behaving at all i...
4,Mon Apr 06 22:20:00 PDT 2009,joy_wolf,@kwesidei not the whole crew

In [14]:
df[-5:]

,Date_Time,Username,Tweet
1599994,Tue Jun 16 08:40:49 PDT 2009,AmandaMarie1028,just woke up having no school is the best feel...
1599995,Tue Jun 16 08:40:49 PDT 2009,TheWDBoards,thewdbcom very cool to hear old walt intervie...
1599996,Tue Jun 16 08:40:49 PDT 2009,bpbabe,are you ready for your mojo makeover ask me fo...
1599997,Tue Jun 16 08:40:49 PDT 2009,tinydiamondz,happy th birthday to my boo of alll time tupac...
1599998,Tue Jun 16 08:40:50 PDT 2009,RyanTrevMorris,happy #charitytuesday @thenspcc @sparkscharity...

# need to remove question marks, periods without using REGEX shortwords

In [15]:
import string

In [16]:
df["Tweet"] = df.Tweet.map(lambda x: re.sub('[%s]' % re.escape(string.punctuation),' ',x))

In [17]:
df.head()

,Date_Time,Username,Tweet
0,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he can t update his facebook by ...
1,Mon Apr 06 22:19:53 PDT 2009,mattycus,kenichan i dived many times for the ball mana...
2,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire
3,Mon Apr 06 22:19:57 PDT 2009,Karoli,nationwideclass no it s not behaving at all i...
4,Mon Apr 06 22:20:00 PDT 2009,joy_wolf,kwesidei not the whole crew

In [18]:
tweets = df["Tweet"]
#tweets_list = list(tweets)

In [19]:
tweets_100K = df["Tweet"][:100001]

In [20]:
tweets_100K_list = list(tweets_100K)

In [21]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(stop_words = 'english', min_df = .001)

In [22]:
X_mass = cv.fit_transform(tweets_100K_list)

In [23]:
term_df=pd.DataFrame(X_mass.toarray(),columns=cv.get_feature_names())

/Users/francescaepiccorelli/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [24]:
column_list = list(term_df.columns)

In [25]:
#print(column_list)

In [26]:
#def need stemming & lemmatization

In [27]:
from nltk.stem.lancaster import LancasterStemmer
stemmer = LancasterStemmer()

In [28]:
tweets_100K_stem = tweets_100K.apply(lambda x: stemmer.stem(x))

In [29]:
tweets_100K_stem_list = list(tweets_100K_stem)
X_mass_stem = cv.fit_transform(tweets_100K_stem_list)
term_stem_df=pd.DataFrame(X_mass_stem.toarray(),columns=cv.get_feature_names())

In [30]:
stem_column_list = list(term_stem_df.columns)
#print(stem_column_list)

In [31]:
#Will now apply porter stemmer to see if that works better

In [32]:
from nltk.stem import PorterStemmer
ps = PorterStemmer()

In [33]:
tweets_100K_stem_ps = tweets_100K_stem.apply(lambda x: ps.stem(x))

In [34]:
tweets_100K_stem_ps_list = list(tweets_100K_stem_ps)
X_mass_stem_ps = cv.fit_transform(tweets_100K_stem_ps_list)
term_stem_ps_df=pd.DataFrame(X_mass_stem_ps.toarray(),columns=cv.get_feature_names())

In [35]:
stem_column_list_ps = list(term_stem_ps_df.columns)
#print(stem_column_list_ps)

In [36]:
stem_column_list_ps[:50]

['able',
 'absolutely',
 'account',
 'ache',
 'actually',
 'adam',
 'add',
 'afford',
 'afraid',
 'afternoon',
 'ago',
 'agree',
 'ah',
 'ahead',
 'ahh',
 'ahhh',
 'aint',
 'air',
 'airport',
 'al',
 'alarm',
 'allergies',
 'alot',
 'amazing',
 'amp',
 'annoying',
 'answer',
 'anymore',
 'app',
 'apparently',
 'april',
 'aren',
 'argh',
 'art',
 'ask',
 'asked',
 'asleep',
 'asot',
 'ass',
 'assignment',
 'ate',
 'available',
 'aw',
 'awake',
 'away',
 'awesome',
 'awful',
 'aww',
 'awww',
 'awwww']

In [37]:
X = cv.fit_transform(stem_column_list_ps)

In [38]:
from sklearn.decomposition import NMF
import spacy
nlp = spacy.load('en_core_web_sm')

In [39]:
num_topics = 10
#topics = TruncatedSVD(num_topics)
topics = NMF(num_topics)
doc_topic = topics.fit_transform(X)

In [40]:
#expecting a spacy model, not a NMF. I put a

In [41]:
def display_topics(model, feature_names, no_top_words, topic_names=None):
    for ix, topic in enumerate(model.components_):
        if not topic_names or not topic_names[ix]:
            print("\nTopic ", ix)
        else:
            print("\nTopic: '",topic_names[ix],"'")
        print(", ".join([feature_names[i]
                        for i in topic.argsort()[:-no_top_words - 1:-1]]))

In [42]:
display_topics(topics, topics.get_feature_names_out(), 10)

Topic  0

IndexError: index 892 is out of bounds for axis 0 with size 10

In [47]:
import numpy as np

In [49]:
words = np.array(cv.get_feature_names())

/Users/francescaepiccorelli/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [50]:
nmf = NMF(n_components=10, solver="mu")
W = nmf.fit_transform(X)
H = nmf.components_

for i, topic in enumerate(H):
     print("Topic {}: {}".format(i + 1, ",".join([str(x) for x in words[topic.argsort()[-10:]]])))

Topic 1: yesterday,ha,jealous,took,havent,beer,hand,finals,second,dont
Topic 2: min,hi,tummy,actually,sleepy,evening,buy,saying,quiet,afford
Topic 3: check,forward,badly,shoes,exams,try,things,rest,meeting,problems
Topic 4: email,phone,essay,darn,moving,sent,mothers,hit,raining,band
Topic 5: bought,doesnt,lose,wrong,ve,open,laying,text,upload,rainy
Topic 6: low,windows,hrs,waking,drink,changed,art,stay,got,super
Topic 7: heart,bout,mum,tweeting,heard,feels,wit,thanks,shall,sister
Topic 8: person,shoot,hungry,different,ache,saw,dead,played,usual,wait
Topic 9: eating,sunshine,loves,starts,available,started,coming,fact,tuesday,bb
Topic 10: adam,writing,look,cold,close,ago,huge,works,english,die

In [ ]:
#add stopwords list, playing with min,max df and n_gram ranges tos ee if topics are more coehernt and interesting

In [ ]:
#CorEx worksin a different way
#NMF is naive, and CorEx will force something that's rare to be a topic. Useful if you know what you're looking for

In [ ]:
#Plotting inertia